.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: none;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  border: none;

  button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 300ms ease;

    &:hover {
      color: white !important;
    }
  }

  span {
    font-weight: 700;
    font-size: larger;
  }

  .container {
    position: absolute;
    background-color: rgb(54, 54, 54);
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    font-size: larger;
    width: 22rem;
    border-radius: 10px;
    transition: all 300ms ease;
    margin: 0;
    z-index: 2;
    border: 4px solid;
  }

  &::before {
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: none;
  }
}
