.container {
  margin: 0 auto;

  input {
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 10px;
    width: 20rem;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
  }
}
